@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  scrollbar-color: #ffa800 white;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* fonts */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* fonts end */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.landing {
  background: url(/photos/nai.jpg), linear-gradient(to right, #ecb341, #10c7ff) center no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}

.mystage-name {
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5rem;
  font-weight: 700;
}

.spanner {
  font-family: "Montserrat", sans-serif;
  letter-spacing: .2rem;
}

.mappy {
  filter: drop-shadow(2px 2px 5px #ffa800);
}

@keyframes loadanim {
  0% {
    transform: scale(120%);
  }

  50% {
    transform: scale(90%);
  }

  100% {
    transform: scale(120%);
  }
}

@keyframes logo {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(80%);
  }

  100% {
    transform: scale(100%);
  }
}

.loading-img {
  animation: loadanim .5s infinite ease-in-out;
}

.loadlogo {
  animation: logo 2s infinite ease-in-out;
}

.gm-style-iw button[title="Close"] {
  width: 50px !important;
  height: 20px !important;
  top: 10px !important;
  right: 10px !important;
}